.btn{
    font-family: Helvetica;
    background-color: #222;
    color: #FFFFFF;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    
    cursor: pointer;

    border: 1px solid #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn:hover{
    border: none;
    background: #2b2eff;
    color: #FFFFFF;
}