.bestProducts{
    font-family: Helvetica;
    font-weight: bolder;
    text-align: center;
    margin: 30px;
    font-size: 25px;
}



.cardContainer{
    display: grid;
    grid-template-areas:
    "card card card" 
    "card card card";
    width: 100%;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 2em;
}

.card{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.card img{
    width: 15vw;
    margin: 1em;
}

.cardText{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    border-top: 2px solid #000000;
    padding-top: 1em;
}

.text{
    margin-bottom: 1em;
    margin-left: 1em;
    font-family: Helvetica;
}

.cardOptions{
    width: 100%;
    border-top: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.cardOptions img{
    width: 30px;
    cursor: pointer;
}
